div(ng-repeat='zip in zips', bc-weather, zip='{{zip}}')
br
div(ng-repeat='symbol in symbols', bc-stock, symbol='{{symbol}}')
br
div(ng-repeat='person in people', bc-greeting, name='{{person.name}}', age='{{person.age}}')
br
div(bc-clock, frequency='2000')
div(bc-clock, frequency='1000')
div(bc-clock, frequency='500')
div(bc-clock, frequency='250')
div(bc-clock, frequency='10')
