div(ng-repeat='movie in movies', bc-movie, title='{{movie}}')
br
div(ng-repeat='zip in zips', bc-weather, zip='{{zip}}')
br
div(ng-repeat='symbol in symbols', bc-stock, symbol='{{symbol}}')
br
div(ng-repeat='person in people', bc-greeting, name='{{person.name}}', age='{{person.age}}')
br
div(ng-repeat='freq in frequencies', bc-clock, frequency='{{freq}}')
