button.btn.btn-danger(ng-click='remove()') X
div {{title}}
  img(src='{{photo}}')
  h3 Cast:
  h4(ng-repeat='character in cast') {{character.characters[0]}} played by {{character.name}}
  h3 Rating: {{rating}}
  h3 Released: {{releaseDate}}
